body {
  background-color: #F8F8F8;
}

/* FORM */
#form-container {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
  margin: 25px auto;
  padding: 25px;
}

#form-container h2 {
  font-weight: 900;
  margin-bottom: 30px;
}

#form-container a {
  color: #222222;
  transition: 0.5s;
}

#form-container a:hover {
  color: #6C63FF;
}

#form-container .form-control {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0;
}

#form-container .form-control:focus {
  box-shadow: none;
}

#form-container .form-floating label {
  color: #CCCCCC;
}

#form-container .form-floating > .form-control:focus~label {
  color: #222222;
}

#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked {
  background-color: #6C63FF;
  border-color: #6C63FF;
}

.btn.btn-primary {
  width: 100%;
  margin-top: 20px;
}

/* IMAGE */ 
.row.align-items-center {
  align-content: center;
  height: 100%;
  padding: 75px 0;
}

.col-md-6.order-md-1 {
  padding-top: 50px;
}

#link-container {
  text-align: center;
  padding-top: 50px;
}

@media(min-width:768px) {
  #form-container {
    margin: 50px auto;
    padding: 50px;
  }

  .btn.btn-primary {
    width: auto;
  }

  .col-md-6.order-md-1 {
    padding-top: 0;
  }
}